# python
*.pyc

# dist
VERSION
neptune_lib.egg-info/
dist/

# tests
.cache/
.tox/
tests/results*.xml
tests/coverage*.xml
tests/.pytest_cache
.coverage

# IDE
.idea

# docs
docs/_build
docs/_static
docs/_templates
