# python
*.pyc

# dist
VERSION
neptune_contrib.egg-info/
dist/
build/

# tests
.cache/
.tox/
tests/results*.xml
tests/coverage*.xml
tests/.pytest_cache
.coverage

# IDE
.idea

# docs
docs/_build
docs/_templates

# notebooks
*.ipynb_checkpoints
